
<!-- <pre>{{formulario.value|json}}</pre> -->
<pre>precio:{{formulario.controls.precio.value}}</pre>
<pre>precio errors:{{formulario.controls.precio.errors|json}}</pre>
<form [formGroup]="formulario" novalidate (ngSubmit)="guardar()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="">Precio</label>
      <input type="number" class="form-control" formControlName="precio">
      <div invalidmessage="precio" class="text-danger">
        <p *invalidType="'required'">Requerido.</p>
        <p *invalidType="'min'">Valor mayor que 0.</p>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="">Cantidad</label>
      <input type="number" class="form-control" formControlName="cantidad">
      <div invalidmessage="cantidad" class="text-danger">
        <p *invalidType="'required'">Requerido.</p>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="">Dscto</label>
      <input type="number" class="form-control" formControlName="dscto">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="">Subtotal</label>
      <input type="number" class="form-control" formControlName="subtotal">
    </div>
  </div>

  <div class="form-row">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
